* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.time-select button:focus,
.sound-picker button:focus {
  outline: none;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg); */
  transform:translateX(-50%);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  font-size: 50px;
  bottom: 10%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#player-buttons-container {
  height: 50%;
  width: 100%;
  position: relative;
}

#player-display-time .time-display {
  margin-top: -30px;
}

#player-buttons-container img {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#player-buttons-container img.play {
  top: 40px;
  margin-left: 5px;
}

#player-buttons-container img.replay {
  bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .app {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .time-select, .sound-picker, .player-container {
    flex-grow: 1;
    flex-basis: 100%;
  }

  .time-select,
  .sound-picker {
    height: auto;
    min-height: 60px;
    flex-direction: row;
  }

  .time-select button {
    min-height: 60px;
  }

  .player-container {
    height: 50%;
  }
}

@media only screen and (max-width: 680px) {
  #player-buttons-container img.play {
    width: 70px;
    margin-left: 5px;
  }

  .sound-picker {
    margin-top: -100px;
  }

  .time-select {
    padding-top: 30px;
  }
}